.navbar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.2rem;
  background-color: var(--color-navbar-bg);
}

.logoBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.2rem;
  height: 7.2rem;
  border-radius: 0 var(--border-radius-navbar) var(--border-radius-navbar) 0;
  background-color: var(--color-primary);
}

.logo {
  width: 2.8rem;
  height: 2.6rem;
  z-index: 1;
}

.logoBoxAccent {
  position: absolute;
  bottom: var(--space-0);
  left: var(--space-0);
  width: 100%;
  height: 50%;
  border-radius: var(--border-radius-navbar) 0 var(--border-radius-navbar) 0;
  background-color: var(--color-primary--light);
}

.content {
  height: 100%;
  display: flex;
  align-items: center;
}

.themeToggleBox {
  padding: var(--space-0) var(--space-6);
}

.themeToggleButton {
  background-color: transparent;
  border: none;
  fill: var(--color-icon);
  cursor: pointer;

  &:hover {
    fill: var(--color-icon--hover);
  }
}

.themeToggleIcon {
  fill: inherit;
}

.divider {
  height: 100%;
  width: 0.1rem;
  background-color: var(--color-divider);
}

.profileBox {
  padding: var(--space-0) var(--space-6);
}

.profileImage {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: var(--border-radius-profile-image);
}
